body {
  background-color: #fffaf7;
}

html, body, div, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline;
}

.wrapper {
  margin: 0 auto;
  height: auto;
}

.header {
  width: 320px;
  overflow: hidden;
  padding-left: 4%;
  padding-left: 4%;
  padding-top: 3%;
}

.title_box {
  width: 245px;
}

.title {
  float: left;
  padding-top: 9px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.icon {
  float: right;
  width: 68px;
}

.nav {
  overflow: hidden;
  height: 30px;
  width: 400px;
  padding-top: 11px;
  padding-bottom: 40px;
  font-family: 'Verdana', sans-serif;
  font-size: 0.7rem;
  color: #716f6e;
}

.nav li {
  float: left;
  list-style-type: none;
  padding-right: 10px;
}

.nav a {
  text-decoration: none;
  color: #716f6e;
  padding-right: 10px;
}

/* content_preview */

.info {
  margin-top: 20px;
}

.info h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.info p {
  margin-top: 15px;
  font-family: 'Verdana', sans-serif;
  font-size: 0.7rem;
  color: #716f6e;
  white-space: pre-line;
}

.preview {
  position: relative;
  left: -16px;
  margin: 0 auto;
  width: 320px; 
}

/* content_nav mobile only*/

.content_nav {
  overflow: hidden;
  margin: 0;
}

.content_nav li {
  float: left;
  list-style-type: none;
}

.content_nav a {
  position: relative;
  right: -10px;
  text-decoration: none;
  color: #716f6e;
  padding-right: 10px;
}

.thumbnails img {
  width: 60px;
}

.content_nav p {
  clear: both;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 0.7rem;
  font-style: italic;
  color: #716f6e;
}
